<!DOCTYPE html>
<html lang="en">
<head>
      {{>headlinks}}
</head>
<body>
        {{>navbar}}

        <div class="container-fluid main-header">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                  <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                      <figure>
                        <img src="images/logo3.jpg" alt="vishu" class="img-fluid" title="Vishu">
                      </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                          <p>Welcome to the weather app</p>
                          <h1>I am a <span>Mern stack Developer </span> and <span>software engineer</span> </h1>
                          <a href="#"><button>About me</button></a>
                    </div>
                  </div>
              </div>
          </div>    
        </div>  


      {{>footer}}
</body>
</html>